---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}/blog</link>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <description>{{ post.templateContent | excerpt }}</description>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid>{{ post | rssGuid }}</guid>
      <pubDate>{{ post.date | rfc822Date }}</pubDate>
    </item>
    {%- endfor %}
  </channel>
</rss>
